/**
* [基础颜色]
*/
$c_primary: #3b66f5; // 蓝色
$c_danger: #f53165; // 红色
$c_success: #39cca0; // 绿色
$c_warning: #ff8d29; // 黄色

/**
* [文字颜色]
*/
$c_l: #1f2129; // 文字默认颜色
$c_m: #5a5b66; // 文字辅助色
$c_s: #83848f; // 文字减弱颜色
$c_xs: #c0c2cc; // 文字比弱更弱
